<!-- templates/registration/signup.html -->
{#% extends "base.html" %#}
<!-- This page is responsible to create the design of Sign up interface -->

<style>
	body{
        padding: 2px;
	    background: #95b68f;
        text-align: center;
        margin: 150px 0 0;
        font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
        font-size: large;
		}
    p{
        font-size: medium;}
    </style>

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}