{% load static %}
<!-- This page is responsible to create the design of questions interface -->

<style>
	body{
        padding: 2px;
	    background: #95b68f;
        text-align: center;
        margin: 150px 0 0;
        font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
        font-size: large;
		}
    p{
        font-size: medium;}
    </style>
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>